name: Test Schedule

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "scheduled ping"
          date -u
